In [1]:
import shapely
from shapely import Point, LineString, Polygon
from pyproj import Transformer

In [2]:
coords = ((6,7), (5,6), (0,4), (1,0), (5,0), (6,1))
polygon = Polygon(coords)
polygon.area

29.0

In [3]:
polygon

In [4]:
import geopandas as gpd
from shapely.geometry import Point

In [5]:
data = {
    "name": ["Chicago", "New York", "Los Angeles", "Houston", "Phoenix"],
    "population": [2_696_555, 8_336_817, 3_979_576, 2_304_580, 1_608_139],
    "geometry": [Point(-87.6298, 41.8781), Point(-74.0060, 40.7128), Point(-118.2437, 34.0522), Point(-95.3698, 29.7604), Point(-112.0740, 33.4484), ], }

In [6]:
gdf = gpd.GeoDataFrame(data, crs="EPSG:4326")
gdf.to_file("cities.shp")

In [7]:
gdf

          name  population                   geometry
0      Chicago     2696555   POINT (-87.6298 41.8781)
1     New York     8336817    POINT (-74.006 40.7128)
2  Los Angeles     3979576  POINT (-118.2437 34.0522)
3      Houston     2304580   POINT (-95.3698 29.7604)
4      Phoenix     1608139   POINT (-112.074 33.4484)